---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
/* show Sponsor button (override) */
a.btn[href*="/sponsors/"] {
  display: inline-flex !important;
  align-items: right;
  justify-content: right;
  padding: 0.25rem 0.5rem !important;  /* smaller vertical/horizontal padding */
  font-size: 0.75rem !important;        /* smaller text */
  line-height: 1 !important;
  min-width: 0 !important;
  height: auto !important;
  border-radius: 3px !important;
}
