---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
/* show Sponsor button (override) */
a.btn[href*="/sponsors/"] {
  display: inline-block !important;
}
